<footer class=" footer">
  <div class=" container-fluid">
    <ul class=" nav">
      <li class=" nav-item">
        <a class=" nav-link" href="https://www.instagram.com/_8c27/">
          If you have any inquiries, please contact us promptly at: 
          <span style="color: #FF9F1C">_8c27</span>
        </a>
      </li>

    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made with
      <i class=" tim-icons icon-controller"></i> by Lu for a better
    </div>
  </div>
</footer>
