
<div class="modal-content border-ani">
  <div class="modal-header " >
        <h1 class="modal-title">{{title}}</h1>
        <div class="sp-txt" >
            <span>Ø</span>
            <span>⊙khoan lo</span>
            <span>□</span>
            <span>Θ</span>
            <span>⊕</span>
            <span>◇</span>
            <span>°</span>
        </div>
    </div>
    <div class="modal-body" [formGroup]="formGroup">
        <div class="row">
            <div class="col-4 form-name">
                <span>廠商名稱</span>
                <mat-icon style="flex:1">home</mat-icon>
            </div>
            <ng-select class="col-6 custom" style="padding:0" formControlName="clientId" >
                <ng-option *ngFor="let x of clientList" [value]="x.id">{{x.name}}</ng-option>
            </ng-select>
        </div>
        <div class="row">
            <div class="col-4 form-name">
                <span>昇貿規格</span>
                <mat-icon style="flex:1">handyman</mat-icon>
            </div>
            <ng-container *ngIf="hideonbush ; else selectTemplate">
                <input class="col-6 special-input" formControlName="stockName">
                <small class="errorText" *ngIf="errorType('stockName','required')">*必填欄位</small>
            </ng-container>
            <ng-template #selectTemplate>
                <ng-select class="col-6 custom" style="padding:0" formControlName="stockName">
                    <ng-option *ngFor="let x of filterStock" [value]="x.stockName">{{x.stockName}}</ng-option>
                </ng-select>
            </ng-template>
        </div>
        <div class="row" *ngIf="hideonbush">
            <div class="col-4 form-name">
                <span>單重 ( g )</span>
                <mat-icon style="flex:1">fitness_center</mat-icon>
            </div>
            <input class="col-6 special-input" formControlName="weight">
            <small class="errorText" *ngIf="errorType('weight','required')">*必填欄位</small>
        </div>

        <div class="row" >
            <div class="col-4 form-name">
                <span>數量</span>
                <mat-icon style="flex:1">123</mat-icon>
            </div>
            <input class="col-6 special-input" formControlName="finishAmount">
        </div>
    </div>
    <div class="modal-footer">
        <button style="--clr:#a1eafb" (click)="save()" [disabled]="!formGroup.valid || formGroup.pristine">
            <span style="color: #a1eafb" >SAVE</span><i></i>
        </button>
        <button style="--clr:#ffcccc" (click)="cancel()">
            <span style="color: #ffcccc">CANCEL</span><i></i>
        </button>
    </div>
</div>