
<div class="modal-content border-ani">
    <div class="modal-header " >
          <h1 class="modal-title">{{title}}</h1>
      </div>
      <div class="modal-body" [formGroup]="formGroup">
          <div class="row" >
              <div class="col-3 form-name">廠商名稱</div>
              <input class="col-8" formControlName="name" [class.invalid]="isError('name')">
              <small class="errorText" *ngIf="errorType('name','required')">*必填欄位</small>
          </div>
          <div class="row">
            <div class="col-3 form-name">廠商編號</div>
            <input class="col-8" formControlName="number" [class.invalid]="isError('number')">
            <small class="errorText " *ngIf="errorType('number' , 'required')">*必填欄位</small>
          </div>
          <div class="row" >
              <div class="col-3 form-name">地址</div>
              <input class="col-8" formControlName="address" [class.invalid]="isError('address')">
              <small class="errorText " *ngIf="errorType('address' , 'required')">*必填欄位</small>
          </div>
          <div class="row">
            <div class="col-3 form-name">發票地址</div>
            <input class="col-8" formControlName="invoice">
          </div>
          <div class="row" >
              <div class="col-3 form-name">負責人</div>
              <input class="col-5" formControlName="person">
          </div>
  
          <div class="row" >
              <div class="col-3 form-name">聯絡電話</div>
              <input class="col-3" formControlName="telephone">
              <div class="col-3 form-name">行動電話</div>
              <input class="col-3" formControlName="mobile">
          </div>
          <div class="row" >
              <div class="col-3 form-name">統編</div>
              <input class="col-3 form-name" formControlName="compiled">
              <div class="col-3 form-name">備註</div>
              <input class="col-3 form-name" formControlName="description">
          </div>
      </div>
      <div class="modal-footer">
          <button style="--clr:#a1eafb" (click)="save()" [disabled]="!formGroup.valid || formGroup.pristine">
              <span style="color: #a1eafb" >SAVE</span><i></i>
          </button>
          <button style="--clr:#ffcccc" (click)="cancel()">
              <span style="color: #ffcccc">CANCEL</span><i></i>
          </button>
      </div>
  </div>