
<div class="modal-content border-ani">
    <div class="modal-header " >
          <h1 class="modal-title">{{title}}</h1>
      </div>
      <div class="modal-body" [formGroup]="formGroup">
          <div class="row" >
              <div class="col-3 form-name">
                <span>廠商名稱</span>
                <mat-icon style="flex:1">factory</mat-icon>
            </div>
              <input class="col-8 special-input" formControlName="name" [class.invalid]="isError('name')">
              <small class="errorText" *ngIf="errorType('name','required')">*必填欄位</small>
          </div>
          <div class="row">
            <div class="col-3 form-name">
                <span>廠商編號</span>
                <mat-icon style="flex:1">tag</mat-icon>
            </div>
            <input class="col-8 special-input" formControlName="number" [class.invalid]="isError('number')">
            <small class="errorText " *ngIf="errorType('number' , 'required')">*必填欄位</small>
          </div>
          <div class="row" >
              <div class="col-3 form-name">
                <span>地址</span>
                <mat-icon style="flex:1">home</mat-icon>
            </div>
              <input class="col-8 special-input" formControlName="address" [class.invalid]="isError('address')">
              <small class="errorText " *ngIf="errorType('address' , 'required')">*必填欄位</small>
          </div>
          <div class="row">
            <div class="col-3 form-name">
                <span>發票地址</span>
                <mat-icon style="flex:1">drafts</mat-icon>
            </div>
            <input class="col-8 special-input" formControlName="invoice">
          </div>
          <div class="row" >
              <div class="col-3 form-name">
                <span>聯絡人</span>
                <mat-icon style="flex:1">support_agent</mat-icon>
            </div>
              <input class="col-5 special-input" formControlName="person">
          </div>
  
          <div class="row" >
              <div class="col-3 form-name">
                <span>聯絡電話</span>
                <mat-icon style="flex:1">call</mat-icon>
            </div>
              <input class="col-3 special-input" formControlName="telephone">
          </div>
          <div class="row">
            <div class="col-3 form-name">
                <span>傳真</span>
                <mat-icon style="flex:1">phone_iphone</mat-icon>
            </div>
            <input class="col-3 special-input" formControlName="mobile">
          </div>
          <div class="row" >
              <div class="col-3 form-name">
                <span>統編</span>
                <mat-icon style="flex:1">all_inclusive</mat-icon>
            </div>
              <input class="col-3 form-name special-input" formControlName="compiled">
          </div>
          <div class="row">
            <div class="col-3 form-name">
                <span>備註</span>
                <mat-icon style="flex:1">app_registration</mat-icon>
            </div>
            <input class="col-8 form-name special-input" formControlName="description">
          </div>
      </div>
      <div class="modal-footer">
          <button style="--clr:#a1eafb" (click)="save()" [disabled]="!formGroup.valid || formGroup.pristine">
              <span style="color: #a1eafb" >SAVE</span><i></i>
          </button>
          <button style="--clr:#ffcccc" (click)="cancel()">
              <span style="color: #ffcccc">CANCEL</span><i></i>
          </button>
      </div>
  </div>