
<div class="modal-content border-ani">
  <div class="modal-header " >
        <h1 class="modal-title">{{title}}</h1>
        <label class="Switch">
            <div class="Switch-inner">
              <input type="checkbox">
              <div class="Switch-bg"></div>
              <div class="Switch-handle"></div>
            </div>
        </label>
    </div>
    <div class="modal-body" [formGroup]="formGroup">
        <div class="row" >
            <div class="col-2 form-name">廠商ID</div>
            <ng-select class="col-4" formControlName="clientId">
                <ng-option *ngFor="let x of clientList" [value]="x.id">{{x.name}}</ng-option>
            </ng-select>
        </div>

        <div class="row" >
            <div class="col-2 form-name">物品編號</div>
            <input class="col-4" formControlName="itemNumber">
            <div class="col-2 form-name">物品名稱</div>
            <input class="col-4" formControlName="itemName">
        </div>

        <div class="row" >
            <div class="col-2 form-name">機台編號</div>
            <input class="col-4" formControlName="machine">
            <div class="col-2 form-name">昇茂規格</div>
            <ng-select class="col-4" formControlName="stockId">
                <ng-option *ngFor="let x of stockList" [value]="x.id">{{x.stockName}}</ng-option>
            </ng-select>
        </div>
        <div class="row" >
            <div class="col-2 form-name">材質</div>
            <input class="col-2 form-name" formControlName="material">
            <div class="col-2 form-name">頭部尺寸</div>
            <input class="col-2 form-name" formControlName="size">
            <div class="col-2 form-name">料長(mm)</div>
            <input class="col-2 form-name" formControlName="mm">
        </div>
    
        <div class="row" >
            <div class="col-2 form-name">單重(KG)</div>
            <input class="col-2 form-name" formControlName="weight">
            <div class="col-2 form-name">1kg/支</div>
            <input class="col-2 form-name" formControlName="pcs">
            <div class="col-2 form-name">數量</div>
            <input class="col-2 form-name" formControlName="quantity">
        </div>

        <div class="row" >
            <div class="col-2 form-name">成本價</div>
            <input class="col-2 form-name" formControlName="cost">
            <div class="col-2 form-name">調漲(%)</div>
            <input class="col-2 form-name" formControlName="raise">
            <div class="col-2 form-name">加工別</div>
            <input class="col-2 form-name" formControlName="class">
        </div>

        <div class="row" >
            <div class="col-2 form-name">剝皮一</div>
            <input class="col-2 form-name" formControlName="itemName">
            <div class="col-2 form-name">剝皮二</div>
            <input class="col-2 form-name" formControlName="itemName">
        </div>

        <div class="row" >
            <div class="col-2 form-name">打字別</div>
            <input class="col-4" formControlName="peel1">
            <div class="col-2 form-name">尾倒角</div>
            <input class="col-4" formControlName="peel2">
        </div>

        <div class="row" >
            <div class="col-2 form-name">鑽孔一</div>
            <input class="col-4" formControlName="hole1">
            <div class="col-2 form-name">鑽孔二</div>
            <input class="col-4" formControlName="hole2">
        </div>

        <div class="row" >
            <div class="col-2 form-name">插-珠槽</div>
            <input class="col-4" formControlName="ditch">
            <div class="col-2 form-name">車錐度</div>
            <input class="col-4" formControlName="taper">
        </div>

        <div class="row" >
            <div class="col-2 form-name">打耳別</div>
            <input class="col-4" formControlName="ear">
            <div class="col-2 form-name">特殊別</div>
            <input class="col-4" formControlName="special">
        </div>

        <div class="row" >
            <div class="col-2 form-name">加工項目</div>
            <input class="col-4" formControlName="project">
            <div class="col-2 form-name">備註</div>
            <input class="col-4" formControlName="description">
        </div>

        <app-image-dialog></app-image-dialog>

    </div>
    <div class="modal-footer">
        <button style="--clr:#a1eafb" (click)="save()">
            <span style="color: #a1eafb">SAVE</span><i></i>
        </button>
        <button style="--clr:#a1eafb" (click)="cancel()">
            <span style="color: #a1eafb">CANCEL</span><i></i>
        </button>
    </div>
</div>