
<div class="modal-content border-ani " style="top:0">
    <div class="modal-header" >
        <h1 class="modal-title">{{title}}</h1>
    </div>
    <div class="modal-body" [formGroup]="formGroup">
        <div class="row col-12" >
            <div class="col-lg-2  form-name">
                <span>廠商ID</span>
                <mat-icon style="flex:1">factory</mat-icon>
            </div>
            <ng-select class="col-lg-3 custom" style="padding:0" formControlName="clientId" [class.invalid]="isError('clientId')">
                <ng-option *ngFor="let x of clientList" [value]="x.id">{{x.name}}</ng-option>
            </ng-select>
            <div class="col-lg-2  form-name">
                <span>材質</span>
                <mat-icon style="flex:1">webhook</mat-icon>
            </div>
            <input class="col-lg-2 special-input" formControlName="material">
            <div class="col-lg-2   form-name">
                <span>數量</span>
                <mat-icon style="flex:1">123</mat-icon>
            </div>
            <input class="col-lg-1 special-input" formControlName="quantity" [class.invalid]="isError('quantity')">
        </div>
        
        <div class="row col-12" >
            <div class="col-lg-2  form-name">
                <span>物品編號</span>
                <mat-icon style="flex:1">format_list_numbered</mat-icon>
            </div>
            <input class="col-lg-2 special-input " formControlName="itemNumber">
            <div class="col-lg-1"></div>
            <div class="col-lg-2  form-name">
                <span>頭部尺寸</span>
                <mat-icon style="flex:1">build</mat-icon>
            </div>
            <input class="col-lg-2 special-input" formControlName="size">
            <div class="col-lg-2  form-name">
                <span>1kg/支</span>
                <mat-icon style="flex:1">icecream</mat-icon>
            </div>
            <input class="col-lg-1 special-input" formControlName="pcs">
        </div>

        <div class="row col-12">
            <div class="col-lg-2 form-name">
                <span>物品名稱</span>
                <mat-icon style="flex:1">badge</mat-icon>
            </div>
            <input class="col-lg-3 special-input" formControlName="itemName">
            <div class="col-lg-2  form-name">
                <span>加工別</span>
                <mat-icon style="flex:1">hotel_class</mat-icon>
            </div>
            <ng-select class="col-lg-2 custom" style="padding: 0" formControlName="class">
                <ng-option value="加工">加工</ng-option>
                <ng-option value="代工">代工</ng-option>
            </ng-select>
            <div class="col-lg-2  form-name">
                <span>單重(KG)</span>
                <mat-icon style="flex:1">monitor_weight</mat-icon>
            </div>
            <input class="col-lg-1 special-input" formControlName="weight">
        </div>

        <div class="row col-12" >
            <div class="col-lg-2 form-name">
                <span>機台編號</span>
                <mat-icon style="flex:1">tag</mat-icon>
            </div>
            <input class="col-lg-2 special-input " formControlName="machine">
            <div class="col-lg-1 "></div>
            <div class="col-lg-2 form-name">
                <span>特殊別</span>
                <mat-icon style="flex:1">local_fire_department</mat-icon>
            </div>  
            <input class="col-lg-2 special-input" formControlName="special">
            <div class="col-lg-2 form-name">
                <span>成本價</span>
                <mat-icon style="flex:1">attach_money</mat-icon>
            </div>
            <input class="col-lg-1 special-input" formControlName="cost">
        </div>
        
        <div class="row col-12">
            <div class="col-lg-2 form-name  ">
                <span>昇茂規格</span>
                <mat-icon style="flex:1">handyman</mat-icon>
            </div>
            <ng-select class="col-lg-3 custom" style="padding:0" formControlName="stockId" [class.invalid]="isError('stockId')">
                <ng-option *ngFor="let x of stockList" [value]="x.id">{{x.stockName}}</ng-option>
            </ng-select>
            <div class="col-lg-2 form-name">
                <span>打字別</span>
                <mat-icon style="flex:1">border_color</mat-icon>
            </div>
            <input class="col-lg-2 special-input" formControlName="typing">
            <div class="col-lg-2 form-name">
                <span>調漲(%)</span>
                <mat-icon style="flex:1">percent</mat-icon>
            </div>
            <input class="col-lg-1 special-input" formControlName="raise">
        </div>
  
        <div class="row col-12" >
            <div class="col-lg-2 form-name  ">
                <span>料長(mm)</span>
                <mat-icon style="flex:1">keyboard_tab</mat-icon>
            </div>
            <input class="col-lg-2 special-input" formControlName="mm">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-name">
                <span>打耳別</span>
                <mat-icon style="flex:1">hearing</mat-icon>
            </div>
            <input class="col-lg-2 special-input" formControlName="ear">
            <div class="col-lg-2 form-name">
                <span>插-珠槽</span>
                <mat-icon style="flex:1">sports</mat-icon>
            </div>
            <input class="col-lg-1 special-input" formControlName="ditch">
        </div>

        <div class="row col-12">
            <div class="col-lg-2 form-name  ">
                <span>剝皮一</span>
                <mat-icon style="flex:1">filter_1</mat-icon>
            </div>
            <input class="col-lg-3 special-input" formControlName="peel1">
            <div class="col-lg-2 form-name">
                <span>鑽孔一</span>
                <mat-icon style="flex:1">looks_one</mat-icon>
            </div>
            <input class="col-lg-2 special-input" formControlName="hole1">
            <div class="col-lg-2 form-name">
                <span>尾倒角</span>
                <mat-icon style="flex:1">wifi</mat-icon>
            </div>
            <input class="col-lg-1 special-input" formControlName="chamfer">
        </div>

        <div class="row col-12" >
            <div class="col-lg-2 form-name  ">
                <span>剝皮二</span>
                <mat-icon style="flex:1">filter_2</mat-icon>
            </div>
            <input class="col-lg-3 special-input" formControlName="peel2">
            <div class="col-lg-2 form-name">
                <span>鑽孔二</span>
                <mat-icon style="flex:1">looks_two</mat-icon>
            </div>
            <input class="col-lg-2 special-input" formControlName="hole2">
            <div class="col-lg-2 form-name">
                <span>車錐度</span>
                <mat-icon style="flex:1">airware</mat-icon>
            </div>
            <input class="col-lg-1 special-input" formControlName="taper">
        </div>

        <div class="row col-12" >
            <div class="col-lg-2 form-name  ">
                <span>加工項目</span>
                <mat-icon style="flex:1">rule</mat-icon>
            </div>
            <input class="col-lg-6 special-input" formControlName="project" placeholder="加工项目在这">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-name" *ngIf="showDiv">
                <span>訂單狀態</span>
                <mat-icon style="flex:1">mark_chat_read</mat-icon>
            </div>
            <div class="col-lg-1 form-check form-name" *ngIf="showDiv">
                <label class=" form-check-label">
                    <input checked="" class=" form-check-input" type="checkbox" formControlName="status" >
                    <span class=" form-check-sign"><span class=" check"></span></span>
                </label>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-lg-2 form-name  ">
                <span>備註</span>
                <mat-icon style="flex:1">note_add</mat-icon>
            </div>
            <input class="col-lg-8 special-input" formControlName="description" placeholder="这里可备注">
        </div>
        <app-image-dialog class="col-lg-12" *ngIf="showDiv"></app-image-dialog>

    </div>
    <div class="modal-footer">
        <!--button 未填寫完成不可確認-->
        <button style="--clr:#a1eafb" (click)="save()" [disabled]="!formGroup.valid || formGroup.pristine">
            <span style="color: #a1eafb">SAVE</span><i></i>
        </button>
        <button style="--clr:#ffcccc" (click)="cancel()">
            <span style="color: #ffcccc">CANCEL</span><i></i>
        </button>
    </div>
</div>