
<div class="modal-content border-ani " style="top:0">
    <div class="modal-header" >
        <h1 class="modal-title">{{title}}</h1>
    </div>
    <div class="modal-body" [formGroup]="formGroup">
        <div class="row col-12" >
            <div class="col-lg-2  form-name  ">
                廠商ID
            </div>
            <ng-select class="col-lg-3 " style="padding:0" formControlName="clientId" [class.invalid]="isError('clientId')">
                <ng-option *ngFor="let x of clientList" [value]="x.id">{{x.name}}</ng-option>
            </ng-select>
            <div class="col-lg-2  form-name">材質</div>
            <input class="col-lg-2   form-name" formControlName="material">
            <div class="col-lg-2   form-name">數量</div>
            <input class="col-lg-1  form-name" formControlName="quantity" [class.invalid]="isError('quantity')">
        </div>
        
        <div class="row col-12" >
            <div class="col-lg-2  form-name  ">物品編號</div>
            <input class="col-lg-2 " formControlName="itemNumber">
            <div class="col-lg-1"></div>
            <div class="col-lg-2  form-name">頭部尺寸</div>
            <input class="col-lg-2  form-name" formControlName="size">
            <div class="col-lg-2  form-name">1kg/支</div>
            <input class="col-lg-1  form-name" formControlName="pcs">
        </div>

        <div class="row col-12">
            <div class="col-lg-2 form-name  ">物品名稱</div>
            <input class="col-lg-3 " formControlName="itemName">
            <div class="col-lg-2  form-name">加工別</div>
            <ng-select class="col-lg-2 " style="padding: 0" formControlName="class">
                <ng-option value="加工">加工</ng-option>
                <ng-option value="代工">代工</ng-option>
            </ng-select>
            <div class="col-lg-2  form-name">單重(KG)</div>
            <input class="col-lg-1 form-name" formControlName="weight">
        </div>

        <div class="row col-12" >
            <div class="col-lg-2 form-name">機台編號</div>
            <input class="col-lg-2 " formControlName="machine">
            <div class="col-lg-1 "></div>
            <div class="col-lg-2 form-name">特殊別</div>
            <input class="col-lg-2 " formControlName="special">
            <div class="col-lg-2 form-name">成本價</div>
            <input class="col-lg-1 form-name" formControlName="cost">
        </div>
        
        <div class="row col-12">
            <div class="col-lg-2 form-name  ">昇茂規格</div>
            <ng-select class="col-lg-3" style="padding:0" formControlName="stockId" [class.invalid]="isError('stockId')">
                <ng-option *ngFor="let x of stockList" [value]="x.id">{{x.stockName}}</ng-option>
            </ng-select>
            <div class="col-lg-2 form-name">打字別</div>
            <input class="col-lg-2" formControlName="typing">
            <div class="col-lg-2 form-name">調漲(%)</div>
            <input class="col-lg-1 form-name" formControlName="raise">
        </div>
  
        <div class="row col-12" >
            <div class="col-lg-2 form-name  ">料長(mm)</div>
            <input class="col-lg-2 form-name" formControlName="mm">
            <div class="col-lg-1"></div>
            <div class="col-lg-2 form-name">打耳別</div>
            <input class="col-lg-2" formControlName="ear">
            <div class="col-lg-2 form-name">插-珠槽</div>
            <input class="col-lg-1" formControlName="ditch">
        </div>

        <div class="row col-12">
            <div class="col-lg-2 form-name  ">剝皮一</div>
            <input class="col-lg-3 form-name" formControlName="peel1">
            <div class="col-lg-2 form-name">鑽孔一</div>
            <input class="col-lg-2" formControlName="hole1">
            <div class="col-lg-2 form-name">尾倒角</div>
            <input class="col-lg-1" formControlName="chamfer">
        </div>

        <div class="row col-12" >
            <div class="col-lg-2 form-name  ">剝皮二</div>
            <input class="col-lg-3 form-name" formControlName="peel2">
            <div class="col-lg-2 form-name">鑽孔二</div>
            <input class="col-lg-2" formControlName="hole2">
            <div class="col-lg-2 form-name">車錐度</div>
            <input class="col-lg-1" formControlName="taper">
        </div>

        <div class="row col-12" >
            <div class="col-lg-2 form-name  ">加工項目</div>
            <input class="col-6 special-input" style="background-color: transparent;" formControlName="project">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">訂單狀態</div>
            <div class="col-lg-1">
            <div class=" form-check col-lg-1">
                <label class=" form-check-label">
                    <input checked="" class=" form-check-input" type="checkbox" formControlName="status" >
                    <span class=" form-check-sign"><span class=" check"></span></span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 form-name  ">備註</div>
            <input class="col-8 special-input" style="background-color: transparent;" formControlName="description">
        </div>

        <app-image-dialog *ngIf="showDiv"></app-image-dialog>

    </div>
    <div class="modal-footer">
        <!--button 未填寫完成不可確認-->
        <button style="--clr:#a1eafb" (click)="save()" [disabled]="!formGroup.valid || formGroup.pristine">
            <span style="color: #a1eafb">SAVE</span><i></i>
        </button>
        <button style="--clr:#a1eafb" (click)="cancel()">
            <span style="color: #a1eafb">CANCEL</span><i></i>
        </button>
    </div>
</div>