
<div class=" content bg">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart col-12">
        <div class="card-head col-12 d-flex flex-row flex-wrap">
          <div class="btn-sort col-lg-4 col-md-4 col-sm-12">
            <div class="circle" style="--color:#D9ACF5 " (click)="open()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="新增">
              <mat-icon class="circle-icon">add</mat-icon>
            </div>
            <div class="circle" style="--color:#D9ACF5" (click)="delete()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="刪除">
              <mat-icon class="circle-icon">delete</mat-icon>
            </div>
            <div class="circle" style="--color:#D9ACF5" (click)="edit()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="編輯">
              <mat-icon class="circle-icon">edit_note</mat-icon>
            </div>
            <div class="circle" style="--color: #D9ACF5" (click)="add()" data-bs-toggle="tooltip" data-bs-placement="bottom" title="庫存更改">
              <mat-icon class="circle-icon">add_shopping_cart</mat-icon>
            </div>
          </div>
          <div class="search col-lg-8 col-md-8 col-sm-12">
            <div *ngIf="this.company !== undefined" class="circle" style="--color:#b6ccd8 " (click)="clearSelect()">
              <mat-icon class="circle-icon">close</mat-icon>
            </div>
            <div class="select-search-bar">
              <mat-form-field>
                <mat-label>廠商</mat-label>
                <mat-select [(ngModel)]="company" (ngModelChange)="companySelect()" id="company">
                  <mat-option *ngFor="let c of clientList" [value]="c.id">{{c.name}}</mat-option>
                </mat-select>
              </mat-form-field>
           </div>
           <div class="fieldinput">
            <mat-form-field >
              <input matInput placeholder="快速搜尋" [(ngModel)]="search" >
            </mat-form-field>
          </div>
          </div>
        </div>
        <mat-card>
          <mat-card-content>
          <sm-table  [search]="search" [config]="table_config" [maxTableHeight]="maxTableHeight" [minTableHeight]="minTableHeight"
          [dataSource]="dataSource" (select)="onSelect($event)"  [status]="status"></sm-table>
        </mat-card-content>
      </mat-card>
      </div>
    </div>
  </div>
</div>
