
<!--ring div starts here-->
<div class="login-page" [formGroup]="formLogin">
  <div class="ring">
    <i style="--clr:#00ff0a;"></i>
    <i style="--clr:#ff0057;"></i>
    <i style="--clr:#fffd44;"></i>
    <div class="login">
      <h2>Login</h2>
      <div class="inputBx">
        <input type="text" placeholder="Username" formControlName="user">
      </div>
      <div class="inputBx">
        <input type="password" placeholder="Password" formControlName="pass" (keyup.enter)="!(formLogin.invalid || formLogin.pristine || processing) && login()">
      </div>
      <div class="inputBx" (click)="login()">
        <input type="submit" value="Log in">
      </div>
      <div class="links">
        <a href="#">Forget Password</a>
        <a href="#">Signup</a>
      </div>
    </div>
  </div>
</div>

<!--ring div ends here-->