<div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img" style="width: 50px; height: 50px; left: 5px;">
      <img style="width: 50px;" src="./assets/img/logo-1.png" />
    </div>
  </a>
  <a class="simple-text logo-normal">
    Shan-Mo-System 
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of authSvc.state.menus"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.url]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p style="font-size: 18px; font-weight: bold;">{{ menuItem.menuName }}</p>
      </a>
    </li>
  </ul>
</div>
  