<div class=" modal-content border-ani">
  <div class="modal-header">
    <h1 class="modal-title">{{title}}</h1>
  </div>
  <div class="modal-body" [formGroup]="formGroup" >
      <div class="row">
        <div class="col-3 form-name">
          <span>帳號</span>
          <mat-icon style="flex:1">person_3</mat-icon>
        </div>
        <input class="col-6 special-input" type="text" id="username" formControlName="username" autocomplete="off" [class.invalid]="isError('username')">
        <small class="errorText" *ngIf="errorType('username', 'required')">*必填欄位</small>
      </div>

      <div class="row">
        <div class="col-3 form-name">
          <span>密碼</span>
          <mat-icon style="flex:1;">key</mat-icon>
        </div>
        <input class="col-5 special-input" type="password" id="password" formControlName="password" autocomplete="off" [class.invalid]="isError('password')">
        <span class="col-1"(mousedown)="show_pass()" (window:mouseup)="hidden_pass()"><i class="tim-icons icon-zoom-split" style="color:#fadf53"></i></span>
        <small class="errorText" *ngIf="errorType('password', 'maxlength')">*不可超過30字元</small>
        <small class="errorText" *ngIf="errorType('password', 'pattern')">*數字、字母、符號至少兩種，大於8字元</small>
      </div>
      
      <div class="row">
        <div class="col-3 form-name">
          <span>敘述</span>
          <mat-icon style="flex:1">translate</mat-icon>
        </div>
        <input class="col-6 special-input" type="text" id="description" formControlName="description" [class.invalid]="isError('description')">
        <small class="errorText" *ngIf="errorType('description', 'required')">*必填欄位</small>
      </div>

      <div class="row">
        <div class="col-3 form-name">
          <span>是否停用</span>
          <mat-icon style="flex:1">do_not_disturb_off</mat-icon>
        </div>
        <div class="col-1 form-check form-name">
          <label class="form-check-label">
            <input checked="" class=" form-check-input" type="checkbox" formControlName="disabled">
            <span class=" form-check-sign"><span class=" check"></span></span>
          </label>
        </div>
   
      </div>

      <div class="row">
        <div class="col-3 form-name">
          <span>角色職位</span>
          <mat-icon style="flex:1">group</mat-icon>
        </div>
        <ng-select formControlName="roles" class="custom col-6" style="padding-left: 0">
          <ng-option *ngFor="let data of rolesList" [value]="data.id">{{data.role_name}}</ng-option>
        </ng-select>
      </div>
  </div>

  <div class="modal-footer">
    <!--button 未填寫完成不可確認-->
    <button style="--clr:#a1eafb" (click)="submit()" [disabled]="!formGroup.valid || formGroup.pristine">
        <span style="color: #a1eafb">SAVE</span><i></i>
    </button>
    <button style="--clr:#ffcccc" (click)="modal.dismiss('cancel click')">
        <span style="color: #ffcccc">CANCEL</span><i></i>
    </button>
</div>
</div>

  