.nami-table-container {
  width: 100%;
  overflow: auto;
  margin: auto;

  .mat-table {
    background-color: #27293D;
    width: 100%;
    vertical-align: middle;
    text-align: -webkit-center;
    font-family: 'Noto Sans TC', 'Helvetica Neue',  Arial, sans-serif !important;
    .mat-header-cell {
      white-space: nowrap;
      padding: 5px 15px;
      font-size: 14px;
      border-bottom:1px solid #ffcccc;
      color: #D4D4D8;
    }
    

    .mat-row {
      transition: background-color 0.2s;

      &.selected {
        background-color: rgba(179, 230, 255,0.5);
      }

      .mat-cell {
        text-align: left;
        border-bottom: 1px solid #ffcccc;
        div {
          white-space: nowrap;
          padding: 5px 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 150px;
          color: #D4D4D8;
        }
        &.mat-column-checkbox {
          width: 50px;
          min-width: 50px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    &.disabled {
      background-color: #e9ecef;
    }

  }
}

.mat-paginator {
  &.disabled {
    background: #e9ecef !important;
  }

}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: white !important;
}
::ng-deep .mat-card{
  background-color: transparent;
}
::ng-deep.mat-paginator{
  background-color: #27293D;
  color: #fff
}
::ng-deep.mat-select-value{
  color: #fff;
}
::ng-deep.mat-select-arrow {
  color: #fff;
}
::ng-deep.mat-form-field-infix {
  border-bottom:1px solid #fff;
}
::ng-deep.mat-button-wrapper{
  color: #fff;
}
.hidden {
  display: none;
}

th{
  font-weight: bold;
}

.item {
  padding: 5px 8px;
  margin: 2px 3px 0 0;
  border-radius: 5px;
  background-color: #f8f9fa;
  border: 1px solid #ffcccc;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}