.nami-table-container {
  max-height: calc(100vh - 300px)!important;
  width: 100%;
  overflow: auto;
  margin: auto;

  .mat-table {
    background:  #DCD6F7;
    width: 100%;
    vertical-align: middle;
    text-align: -webkit-center;
    font-family: 'Noto Sans TC', 'Helvetica Neue',  Arial, sans-serif !important;
    .mat-header-cell {
      white-space: nowrap;
      padding: 5px 15px;
      font-size: 14px;
      border-bottom:1px solid #bbb9e9;
      color: #64748b;
    }
    

    .mat-row {
      transition: background-color 0.2s;

      &.selected {
        background-color: #424874;
        div{
          color: #fdf6fd!important;
        }
      }

      .mat-cell {
        text-align: left;
        border-bottom: 1px solid #bbb9e9;
        div {
          white-space: nowrap;
          padding: 5px 15px;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100px;
          color: #64748b;
        }
        &.mat-column-checkbox {
          width: 50px;
          min-width: 50px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }

    &.disabled {
      background-color: #e9ecef;
    }

  }
}

.mat-paginator {
  &.disabled {
    background: #e9ecef !important;
  }

}
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled){
    color: white !important;
}
::ng-deep .mat-card{
  background-color: transparent;
}
::ng-deep.mat-paginator{
  background-color: #DCD6F7;
  color: #292524
}

.hidden {
  display: none;
}

th{
  font-weight: bold;
}

.item {
  padding: 5px 8px;
  margin: 2px 3px 0 0;
  border-radius: 5px;
  background-color: #f8f9fa;
  border: 1px solid #bbb9e9;
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  white-space: nowrap;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #D9ACF5; /* 设置为白色或您选择的颜色 */
}
.nami-foot{
  ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #292524 !important;
  } 
  ::ng-deep.mat-button-wrapper{
    color: #292524;
  }
  ::ng-deep.mat-select-arrow {
    color: #292524;
  }
  ::ng-deep.mat-select-value{
    color: #292524;
  }
  ::ng-deep .mat-select-value-text{
    color:#292524;
  }
}

li.active > a > i{
  color: #ffcccc
}
